<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заявка</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <form method="POST" novalidate>
        {% csrf_token %}
        {% for f in form %}
            <div class="form-group">
                <label for="{{ f.id_for_label }}">{{ f.label_tag }}</label>
                <div>{{ f }}</div>
                <div class="error">{{ f.errors }}</div>
            </div>
        {% endfor %}
        <input type="submit" value="Отправить">
    </form>
</body>
</html>
